numpy==1.26.4
calmap==0.0.11
calplot==0.1.7.5
emoji==2.12.1
fasttext==0.9.3
hpack==4.0.0
joblib==1.4.2
jsonpointer==2.0
matplotlib-venn==1.1.1
pybind11==2.13.1
scikit-learn==1.5.1
scikit-learn-extra==0.3.0
scipy==1.14.0
setuptools==69.5.1
threadpoolctl==3.5.0
wheel==0.43.0
seaborn==0.13.2
validators==0.33.0
sqlalchemy==2.0.30 